* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 80%;
    margin: 0 auto;
}

nav {
    height: 100px;
    position: sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
    position: sticky;
}

.nav-logo {
    float: left;
}

.right-nav {
    float: right;
    display: inline;
}

.right-nav .nav{
    display: inline;
    padding-right: 20px;
}

.tuitt-button, .apply-button {
    background-color: #c2195b;
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    color: white;
    font-weight: 800;
    border: none;
}


/* Landing Page */

#bg-image {
    min-height: 50vh;
    background-image: url('https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg');
    background-position: 40% 55%;
    background-size: cover;
    position: relative;
}

#bg-image .front-bg {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 50vh;
    height: 100%;
}

.container {
    float: right;
    text-align: right;
    width: 18rem;
    margin-right: 5%;
    color: white;
}

.subtitle {
    font-size: 16px;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 20px;
}



.title, .title-2 {
    font-family: 'Zilla Slab', sans-serif;
}

.intro {
    margin: 100px 15% 100px 15%;
}

.title-2 {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 1000;
}





.pre-footer {
    background-color: #f7fbfb;
    margin: 100px 15% 100px 15%;
}

.prefooter-description {
    text-align: center;
}

.book-button {
    background-color:  #336589;
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    color: white;
    font-weight: 800;
    border: none;
    margin-left: 40%;
    margin-right: 40%;
    width: 150px;
    margin-top: 20px;

}

footer {
    text-align: center;


}